<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routes</title>
    <style>
        *{
            margin: 0;
            font-family: sans-serif;
        }
        header{
            border-bottom: 1px solid rgb(0, 0, 0);
            text-align: left;
            padding: 5%;
            font-size: large;
            background-color: rgb(183, 183, 183);
        }
        .content{
            text-align: justify;
            padding: 5%;
        }
    </style>
</head>
<body>
    <header>
        <h3>Routes</h3>
    </header>
    <div class="content">
        <p>You are viewing this page coz u are in debug mode.This page is created to view the routes available.</p>
    </div>
</body>
</html>